{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登録</title>
</head>
<body>
<form action="{% url 'main:regist' %}" method="post">
    <script type="text/javascript" src="{% static 'main/register.js' %}"></script>
    {% csrf_token %}
    名前:<input type="text" name="name" size="40"><br>
    ステータス:<input type="text" name="status"><br>
    吹き出しサイズ:<input type="number" name="size"><br>
    現在地取得:<input type="button" value="ここをクリックして取得開始" onclick="getPosition()"><br>
    <input type="submit" value="送信"><input type="reset" value="リセット">
    <input type="hidden" name="latitude" value="">
    <input type="hidden" name="longitude" value="">
</form>
</body>
</html>